.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  width: 100vw;
}

h1 {
  align-self: center;
  font-family: ESBuild;
  font-size: 30rem;
  margin: 0;
}

.body {
  display: flex;
  align-content: stretch;
  flex-direction: row;
  padding: 3rem;
  align-self: center;
  outline: 1px solid #ffffff;
  text-align: justify;
}

.bodyTXT {
  font-family: "acumin-pro", sans-serif;
  font-weight: 300;
  font-style: extra-light;
  font-size: 3.25rem;
  margin: 0;
}

.abt {
  font-family: "acumin-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  place-self: flex-start;
}

.keyWords {
  font-family: "Moderat Serif Trial-Light", Helvetica;
  font-size: 3.25rem;
}

.eml {
  font-family: "acumin-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  place-self: flex-end;
}