/* !!BASE CSS!! */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  height: 100vh;
  width: 100%;
}


.GMTimg {
  padding-top: 2.5vw;
  justify-self: center;
  width: 90vw;
  height: auto;
  position: absolute;
  top: 0;
  margin: 0 auto;
}

.body {
  display: flex;
  align-content: center;
  flex-direction: row;
  padding: 0 4vw;
  text-align: justify;
  position: absolute;
  bottom: 5vw;
  line-height: 1.5;
}

.bodyTXT {
  font-family: "acumin-pro", sans-serif;
  font-weight: 300;
  font-style: extra-light;
  font-size: 3vw;
  margin: 0;
}

.abt {
  font-family: "acumin-pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2vw;
  place-self: flex-start;
  position: relative;
  bottom: .5vw;
}

.keyWords {
  font-family: "Moderat Serif Trial-Light", Helvetica;
  font-size: 3vw;
}


.thesign {
  display: flex;
  justify-content: center;
  z-index: 100;
  margin-inline: auto;
  position: fixed;
  top: -7.5%;
  left: 50%;
  transform: translate(-50%, 0);
}



/* .eml {
  font-family: "acumin-pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2vw;
  place-self: flex-end;
  position: relative;
  bottom: .3vw;
  left: 25vw;
} */


