.cnstrcsgn {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 100%; 
  grid-template-rows: .2fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "wire"
    "sign";
  color: rgb(0, 0, 0);
  transform-origin: center top;
  margin-inline: auto;
  position: fixed;
  top: 4em;
}

.wire {
  grid-area: wire;
  margin: 0 auto;
  z-index: 1;
}

.wireimg {
  height: auto;
  width: 40vw;
}

.sign {
  grid-area: sign;
  align-items: center;
  justify-content: center;
  margin-top: -1em;
  z-index: 2;
}

.sgnimg {
  height: auto;
  width: 55vw;
}

/* .sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25vw;
  width: 41vw;
  background: #AD3826;
  text-align: center;
  box-shadow: 0 6px 5px rgba(black, 0.25);
}

.smalltxt {
  margin: 0;
  font-size: 1vw;
  padding: 2vw 3vw;
}

.bigtxt {
  margin: 0;
  font-size: 4vw;
}

.business {
  margin: 0;
  padding: 2vw 7vw;
}

.email {
  margin: 0;
} */

a {
  text-decoration: none;
  color: black;
}

.cnstrcsgn:hover {
  animation: infinite cubic-bezier(0.535, -0.030, 0.445, 1.035) signSwing alternate 3s;
  animation-fill-mode: both;
}

@keyframes signSwing {
  0% {
    transform: rotate3d(1, 0, 1, 0deg);
  }
  50% {
    transform: rotate3d(1, 0, 1, -6deg);
  }
  100% {
    transform: rotate3d(1, 0, 1, 6deg);
  }
}